.top{
  overflow: hidden;
}

.return-to-top {
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 9999;
  position: fixed;
  background: #9b37ff;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.return-to-top i {
  color: black;
  position: relative;
  left: 20px;
  top: 14px;
  font-size: 19px;
  transition: all 0.6s ease;
}

.return-to-top:hover {
  background: black;
}

.return-to-top:hover i {
  color: #9b37ff;
  top: 10px;
}

.fa.fa-long-arrow-up:before {
  content: "\f30c";
}