#services {
  padding-top: 80px;
  margin-left: 10px;
  overflow: hidden;
}

.services-block span {
  margin: 10px 0;
  position: relative;
  font-size: 20px;
  color: black;
  letter-spacing: 0.1em;
  font-weight: 800;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.services-block p {
  margin: 0;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  max-width: 350px;
  margin-left: 40px;
  font-family: cursive;
}

.services-block .i {
  margin-left: 200px;
  font-size: 44px;
  line-height: 44px;
  color: #9b37ff;
}

.slick-next:before {
  display: none;
}

.slick-prev:before {
  display: none;
}

@media (min-width: 1280px) and (max-width: 1280px) {

  .services-block .i {
    margin-left: 190px;
  }

}

@media (min-width: 1024px) and (max-width: 1024px) {

  .services-block .i {
    margin-left: 150px;
  }
}

@media (max-width: 920px) {

  .services-block .i {
    margin-left: 130px;
  }

  .services-block p {
    position: relative;
    left: -20px;
  }

}

@media (max-width: 825px) {

  .services-block .i {
    margin-left: 110px;
  }

  .services-block p {
    position: relative;
    left: -20px;
    font-size: 13px;
  }

}

@media (max-width: 480px) {

  #services {
    padding-bottom: 100px;
    margin-top: -30px;
    margin-left: 0;
  }

  .services-block {
    margin-left: 5px;
  }

  .services-block p {
    margin-left: 30px;
  }

  .services-block .i {
    margin-left: 185px;
  }
}

@media (max-width: 415px) {

  .services-block p {
    margin-left: 50px;
  }

  .services-block .i {
    margin-left: 190px;
  }
}

@media (max-width: 395px) {

  .services-block .i {
    margin-left: 180px;
  }

  .services-block span {
    margin-left: 10px;
  }

  .services-block p {
    margin-left: 40px;
  }

}

@media (max-width: 375px) {

  .services-block .i {
    margin-left: 167px;
  }

}

@media (max-width: 360px) {

  #services {
    padding-top: 80px;
    margin-bottom: -60px;

  }

  .services-block .i {
    margin-left: 166px;
  }

  .services-block span {
    margin-left: 10px;
  }

  .services-block p {
    margin-left: 50px;
  }

}

@media (max-width: 300px) {

  .services-block .i {
    margin-left: 130px;
    font-size: 30px;
  }

  .services-block p {
    margin-left: 40px;
    font-size: 11px;
  }
  
.services-block span {
  font-size: 15px;
}

}