:root {
  --container-font-size: 28px;
  --btn-upload-background-color: #242d3f;
  --btn-upload-color: #ffffff;
  --btn-upload-width: 225px;
  --btn-upload-height: 60px;
  --btn-upload-border-radius: 0.60em;
}

#container {
  font-family: "Open Sans", sans-serif;
  font-size: var(--container-font-size);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  bottom: 300px;
  right: -50px;
  z-index: 9999;
}

.btn-upload {
  background-color: var(--btn-upload-background-color);
  width: var(--btn-upload-width);
  height: var(--btn-upload-height);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--btn-upload-border-radius);
}

.fa-download{
  margin-top: -1px;
  margin-left: -3px;
}

.btn-upload:not(.btn-upload-uploading):active {
  transform: translateY(0.2em);
}

@media screen and (max-width: 800px) {

  #container {
    bottom: 600px;
  }

}

@media screen and (max-width:712px) {
  #container {
    bottom: 500px;
  }
}

@media screen and (min-width: 640px) and (max-width: 640px) {

  #container {
    bottom: 140px;
    right: 550px;
  }

  .fa-download{
    margin-left: 5px;
  }  

}

@media screen and (max-width:530px) {
  #container {
padding-top: 200px;
  }
}

@media screen and (max-width:400px) {
  #container {
    bottom: 400px;
  }
}

@media screen and (max-width:385px) {
  #container {
    bottom:300px;
  }
}

@media screen and (max-width:360px) {
  #container {
    bottom:250px;
  }
}

@media screen and (max-width:320px) {
  #container {
    right: -45px;
    width: 90px;
  }

  .btn-upload {
    height: 50px;
  }  

  .fa-download{
    margin-left: -15px;
  }

  .fa-download:before {
    font-size: 30px;
    }    

}

@media screen and (max-width:240px) {
  #container {
    bottom:110px;
  }
}