footer {
  background: black;
  padding-top: 50px;
  overflow: hidden;
  z-index: 999999;
}

.social {
  color: rgb(95, 95, 95);
  font-family: 'FontAwesome';
  font-size: xx-large;
  margin-left: 170px;
}

.splash {
  width: 100px;
  position: absolute;
  margin-top: -55px;
  margin-left: 155px;
  opacity: .2;
}

footer .icons span a {
  margin: 0 40px 0 0;
}

footer .icons {
  padding: 25px 0;
  margin-left: 100px;
}

footer .icons i {
  font-size: 30px;
}

footer .inner {
  display: flex;
  margin-top: 10px;
}

.fa-facebook {
  color: #003471;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-whatsapp {
  color: #036100;
}

.fa-github {
  color: #242424;
}

.fa-linkedin {
  color: #010877;
}

.mb-30 {
  padding-bottom: 10px;
}

footer i,
.right {
  font-size: 22px;
  color: #999999;
  font-weight: bold;
  font-family: cursive;
}

footer i {
  margin-top: 5px;
}

.right {
  padding-left: 18px;
  margin-bottom: 20px;
}

#hr {
  border-top: 1px solid rgb(146, 146, 146);
  margin-bottom: -10px;
}

footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 30px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.credit {
  color: #9b37ff;
}

.final {
  margin-bottom: -1px;
}

@media screen and (min-width:760px) and (max-width:991px) {

  .mb-30 {
    padding-bottom: 20px;
  }

  .conect {
    padding-top: 10px;
    position: relative;
    left: 350px;
    margin-top: -250px;
  }

  .social {
    margin-left: 150px;
  }

  .splash {
    margin-left: 135px;
  }

  .details {
    margin-left: -20px;
  }

  footer .icons {
    padding: 25px 0;
    margin-left: 80px;
  }

  footer .icons i {
    font-size: 30px;
  }

}

@media screen and (max-width:759px) {

  .social {
    margin-left: 130px;
    padding-top: 10px;
  }

  footer .icons {
    margin-left: 50px;
  }

  .splash {
    margin-top: -45px;
    margin-left: 118px;
  }
}


@media screen and (max-width:715px) {

  .conect {
    margin-left: 70px;
  }

  #deto {
    display: none;
  }
}

@media screen and (max-width:500px) {

  .conect {
    margin-left: 0;
  }
}

@media screen and (max-width:390px) {

  .social {
    margin-left: 100px;
    padding-top: 10px;
  }

  footer .icons {
    margin-left: 30px;
  }

  footer .icons i {
    font-size: 25px;
  }

  .splash {
    margin-top: -43px;
    margin-left: 88px;
  }

  .right {
    font-size: 19px;
  }
}

@media screen and (max-width:385px) {
  .conect {
    margin-left: 20px;
  }
}

@media screen and (max-width:320px) {

  .social {
    margin-left: 90px;
    padding-top: 10px;
    font-size: 27px;
    margin-bottom: -10px;
  }

  footer .icons span a {
    margin: 0 25px 0 0;
  }

  footer .icons {
    margin-left: 55px;
  }

  footer .icons i {
    font-size: 21px;
  }

  .splash {
    margin-left: 80px;
    margin-top: -32px;
    width: 80px;
  }

  .mb-30 {
    font-size: 26px;
  }

  .right {
    font-size: 14px;
  }

  .final {
    font-size: 10px;
  }

}

@media screen and (max-width:300px) {

  .social {
    margin-left: 70px;
    padding-top: 10px;
    font-size: 27px;
    margin-bottom: -10px;
  }

  footer .icons {
    margin-left: 35px;
  }

  .splash {
    margin-left: 60px;
    margin-top: -32px;
    width: 80px;
  }

}