.elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 75px;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
}

#lol1{
    margin-left: 100px;
}
#lol2{
    margin-left: -10px;

}

.card-deck{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
}

.card-img-top{
    margin-left: 20px;
}

.card-img-top{
    margin-left: 20px;
    margin-bottom: -20px;
    width: 100px;
    height: 90px;
}

.card-title {
    font-family: "Poppins", Sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2em;
    margin-left: 20px;
}

.card-text {
    font-family: "Roboto Mono", Sans-serif;
    font-weight: 400;
    line-height: 1.4em;
    color: #999999;
    padding-left: 35px;
}

.card-text::before {
    content: "<h3>";
    margin-bottom: 5px;
    color: #b060ff;
    opacity: 0.3;
    display: block;
    margin-left: -35px;
    font-weight: normal;
    font-size: 14px;
}

.card-text::after {
    content: "<h3>";
    margin-bottom: 5px;
    color: #b060ff;
    opacity: 0.3;
    display: block;
    margin-left: -35px;
    font-weight: normal;
    font-size: 14px;
}

.bref:after {
    opacity: 0.3;
    content: '';
    border: 0.1px solid #b060ff;
    margin-left: 15px;
    margin-top: -78px;
    position: absolute;
    height: 50px;
}

.card{
    background-color: rgb(34, 34, 34);
    border-width: 3px;
    border-color: #a3a3a3;
    width: 80%;
    margin-left: 50px;
}

.circle {
    position: relative;
    left: 792px;
    top: 110px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: inset 0 0 30px 0 #fff, inset 20px 0 30px #ffd400, inset -20px 0 30px red, inset 20px 0 300px #ff40d6, inset -20px 0 300px #e3ff4b, 0 0 50px #fff, -10px 0 100px #fbff00, 10px 0 80px #f55;
}

@media (max-width: 480px) {

    .elementor-heading-title {
        font-size: 60px;
        padding-top: 70px;
    }
    
    .circle {
        left: 297px;
        top: 75px;
    }
    
    .bref:after {
        margin-top: -100px;
        height: 70px;
    }
}