#portfolio {
    padding: 20px;
    overflow: hidden;
}

.head {
    color: black;
    font-family: "Poppins", Sans-serif;
    font-size: 150px;
    font-weight: 600;
    line-height: 1.2em;
    margin-left: 100px;
}

.work {
    color: #999999;
    font-family: "Roboto Mono", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    max-width: 500px;
    margin-left: 100px;
}

#arrow {
    width: 300px;
    opacity: .2;
    margin-left: 100px;
    margin-bottom: 10px;
}

.view {
    border-radius: 7px;
    position: relative;
    display: inline-block;
    padding: 19px 27px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    background: #9b37ff;
    font-weight: 600;
    left: -20px;
}

.view:hover {
    background: #9b37ff;
    box-shadow: 0 0 10px #9b37ff, 0 0 40px #9b37ff, 0 0 80px #9b37ff;
}

.rk {
    margin-top: 70px;
}

.dire {
    margin-top: 70px;
}

@media (max-width: 920px) {
    #arrow {
        width: 200px;
        margin-left: 160px;
        margin-bottom: 40px;
    }

    .view {
        padding: 19px 27px;
        font-size: 24px;
        left: 50px;
    }

    .rk {
        margin-left: -60px;
    }

    .dire {
        margin-top: 110px;
    }
}

@media (max-width: 768px) {

.work {
    margin-left: 120px;
}

#arrow {
    width: 220px;
    margin-left: 140px;
    margin-bottom: 0;
    margin-top: 40px;
    rotate: -10deg;
}

.view {
    padding: 19px 27px;
    font-size: 24px;
    left: 80px;
    margin-top: 50px;
}

}

@media (max-width: 712px) {

    .view {
        position: absolute;
        font-size: 25px;
        left: 300px;
        margin-top: -20px;
    }

    #arrow {
        width: 170px;
        margin-left: 120px;
        margin-top: -110px;
        rotate: 10deg;
    }
    
.work {
    font-size: 20px;
    margin-left: 0;
    position: relative;
    left: 120px;
}
}

@media (max-width: 600px) {
    #portfolio {
        padding-top: 70px;
        padding-bottom: 0;
    }

    .view {
        position: absolute;
        font-size: 20px;
        left: 330px;
        margin-top: 10px;
    }

}

@media (max-width: 550px) {
    #portfolio {
        padding-top: 70px;
        padding-bottom: 0;
    }

    .view {
        position: absolute;
        font-size: 15px;
        left: 280px;
        margin-top: -550px;
    }

    #arrow {
        width: 150px;
        margin-left: 350px;
        margin-top: -1170px;
    }
}

@media (max-width: 540px) {

    .work {
        max-width: 400px;
    }
}

@media (max-width: 480px) {

    #portfolio {
        margin-top: -90px;
    }

    .view {
        padding: 15px 24px;
        margin-left: -50px;
        margin-top: -450px;
    }

    #arrow {
        width: 120px;
        margin-left: 290px;
        margin-top: -950px;
    }

    .head {
        font-size: 140px;
        margin-left: 70px;
    }

    .work {
        margin-left: -40px;
        max-width: 400px;
        padding-bottom: 70px;
    }

    .dire {
        margin-top: 0;
    }
}


@media (max-width: 414px) {
    #portfolio {
        padding-top: 20px;
        padding-bottom: 10px;
        margin-top: -10px;
    }

    .view {
        padding: 15px 10px;
        letter-spacing: 2px;
        font-size: 19px;
        left: 270px;
        margin-top: -490px;
    }

    #arrow {
        margin-left: 260px;
        margin-top: -1020px;
    }

    .head {
        font-size: 140px;
        margin-left: 0;
    }

    .work {
        margin-left: -110px;
        max-width: 370px;
    }

    .dire {
        margin-top: 0;
    }

    .rk {
        margin-left: 0;
    }
}

@media (max-width: 412px) {
    #portfolio {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    #arrow {
        margin-left: 260px;
        margin-top: -1030px;
    }

}

@media (max-width: 393px) {

    #portfolio {
        margin-top: -90px;
    }

    .view {
        padding: 15px 15px;
        margin-left: -70px;
        margin-top: -470px;
        font-size: 17px;
    }

    #arrow {
        width: 120px;
        margin-left: 250px;
        margin-top: -990px;
    }

    .head {
        font-size: 130px;
        margin-left: 0;
    }

    .work {
        margin-left: -120px;
        max-width: 370px;
        padding-bottom: 70px;
    }

    .dire {
        margin-top: 0;
    }
}


@media (max-width: 390px) {

    .view {
        padding: 15px 18px;
        margin-left: -70px;
        margin-top: -470px;
        font-size: 15px;
    }

}

@media (max-width: 385px) {

    #portfolio {
        padding-top: 30px;
        padding-bottom: 100px;
    }

    .view {
        left: 10px;
        margin-top: -400px;
    }

    #arrow {
        margin-left: 220px;
        margin-top: -850px;
    }

    .work {
        left: 0;
    }
}

@media (max-width: 384px) {

    .view {
        left: 260px;
        margin-top: -450px;
    }

    #arrow {
        margin-left: 240px;
        margin-top: -990px;
        rotate: -10deg;
    }

    .work {
        margin-left: 0;
        max-width: 370px;
        padding-bottom: 70px;
        font-size: 19px;
    }
}

@media (max-width: 375px) {

    #portfolio {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .view {
        padding: 15px;
        margin-left: -80px;
        margin-top: -450px;
    }

    #arrow {
        width: 120px;
        margin-left: 220px;
        margin-top: -970px;
    }

    .head {
        font-size: 110px;
        margin-left: 0;
    }

    .work {
        margin-left: 0;
        max-width: 370px;
        padding-bottom: 70px;
        font-size: 19px;
    }

    .dire {
        margin-top: 0;
    }
}

@media (max-width: 360px) {

    .view {
        left: 250px;
        margin-top: -440px;
    }

    #arrow {
        margin-left: 220px;
        margin-top: -970px;
        rotate: -10deg;
    }
}

@media (max-width: 353px) {

    #portfolio {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .view {
        padding: 15px;
        margin-left: 170px;
        margin-top: -450px;
    }

    #arrow {
        width: 120px;
        margin-left: 220px;
        margin-top: -970px;
    }

    .head {
        font-size: 110px;
        margin-left: 0;
    }

    .work {
        margin-left: 0;
        max-width: 370px;
        padding-bottom: 70px;
        font-size: 19px;
    }

    .dire {
        margin-top: 0;
    }
}

@media (max-width: 320px) {

    .view {
        left: -10px;
        padding: 15px 10px;
        font-size: 12px;
        margin-top: -440px;
        font-weight: 900;
    }

    #arrow {
        width: 120px;
        margin-left: 180px;
        margin-top: -960px;
    }

    
    .head {
        font-size: 100px;
    }

    .work {
        font-size: 18px;
    }

}

@media (max-width: 300px) {

    #portfolio {
        padding-bottom: 100px;
    }

    .head {
        color: black;
        font-family: "Poppins", Sans-serif;
        font-size: 90px;
        margin-left: 0;
    }

    .view {
        left: -30px;
        padding: 15px 10px;
        font-size: 7px;
        margin-top: -320px;
        font-weight: 900;
    }

    #arrow {
        width: 90px;
        margin-left: 160px;
        margin-top: -640px;
    }

    .work {
        font-size: 15px;
    }

}


@media (max-width: 280px) {

    #portfolio {
        padding-bottom: 100px;
        padding-top: 50px;
    }

    .head {
        font-size: 90px;
        margin-left: 0;
    }

    .view {
        left: -10px;
        padding: 15px 10px;
        font-size: 7px;
        margin-top: -350px;
    }

    #arrow {
        width: 70px;
        margin-left: 180px;
        margin-top: -690px;
    }

    .work {
        font-size: 12px;
    }

}

@media (max-width: 240px) {

    .head {
        font-size: 70px;
        margin-left: 0;
    }

    .view {
        left: -50px;
        padding: 15px 10px;
        font-size: 7px;
        margin-top: -390px;
    }

    #arrow {
        width: 70px;
        margin-left: 140px;
        margin-top: -770px;
    }

    .work {
        font-size: 12px;
    }

}